<h1>Register</h1>

<form [formGroup]="userForm" (ngSubmit)="handleSubmit()" >

    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" 
            class="form-control"
            id="username"
            formControlName="username">

        <div *ngIf="!username.valid && username.touched">
            
            <div  *ngIf="username.errors.required" class="alert alert-danger">
                Username is required...
            </div>

            <div  *ngIf="username.errors.minlength"  class="alert alert-danger">
                min {{ username.errors.minlength.requiredLength }} characters are required...
            </div>

        </div>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" 
            class="form-control" 
            id="password"
            formControlName="password">

            <div *ngIf="!password.valid && password.touched">
            
                <div  *ngIf="password.errors.required" class="alert alert-danger">
                    Password is required...
                </div>

                <div  *ngIf="password.errors.shouldNotContainSpaces" class="alert alert-danger">
                    Password cannot contain space characters...
                </div>

            </div>
    </div>

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" 
            class="form-control" 
            id="name"
            formControlName="name">
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>